<h1>Team Name: <%= @team_name %></h1>
<h1>Team Motto: <%= @team_motto %></h1>

<% @whole_team.each do |hero| %>
<h3>Hero Name: <%= @hero.name %></h3><br>
<h3>Hero Power: <%= @hero.power %></h3><br>
<h3>Hero Biography: <%= @hero.bio %></h3><br>
<% end %>
